Auto Checkpoint=No
Option DSN=./option.db
Primary DSN=MySQL
#Primary User=
#Primary Password=
Backup DSN=MySQL2
#Backup User=
#Backup Password=
Log enable=No
LogFile enable=Yes
LogFile enable dump data=Yes
Log Option Connection=No
Fallback on failure=No
Require Connection=No
Require Primary Connection=Yes
Require Backup Connection=No
Database Init SQL=
Option Database Init SQL=
